.media_list {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
  gap: 20px;
}

.media_cards img {
  width: clamp(300px, 15vw, 400px);
  height: auto;
  aspect-ratio: 2/3;
  object-fit: cover;
  border-radius: 15px;
  margin: 20px;
}

.media_list h2 {
  align-self: flex-start;
  margin-left: 60px;
}

.media_cards {
  display: flex;
  align-items: center;
  gap: 20px;
}
