.media_card {
  text-align: center;
}

.media_title,
.media_rating {
  text-align: center;
  color: rgb(173, 198, 215);
  margin: 8px 0 0;
}

.media_title {
  font-size: 1.05rem;
  font-weight: 700;
}

.media_rating {
  font-size: 0.95rem;
  font-weight: 600;
}
